@page
@model PRN221_VotingSystem.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<section class="py-5 bg-light" id="contact">
    <div class="container">
        <h2 class="display-4 text-center">And you _</h2>

        <div class="row justify-content-around mt-5 mb-3">
            <div class="col-md-7">
                <form class="p-3 p-md-5 bg-light border border-5">
                    <div class="lead text-center">
                        Unlock Your Voting Power <br>Join Electriq Today and Make Your Voice Count!
                    </div><!-- .lead -->
                    <div class="input-group mt-4" style="justify-content: center">
                        <span class="input-group-btn">
                            <a href="/Logins/Register" class="btn btn-secondary rounded-0">Join us</a>
                        </span>
                    </div><!-- register -->
                </form>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
