@page
@model PRN221_VotingSystem.Pages.FeedbackModel
@{
    ViewData["Title"] = "Feedback";
}

<section class="py-5 " id="feedback">
    <footer class="container">
        <h2 class="display-4 text-center">People say _</h2>

        <div class="row justify-content-around mt-5 mb-3">
            <div class="col-md-5 ">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>electriq really good!</p>
                    <footer class="blockquote-footer">W3club</footer>
                </blockquote>
            </div><!-- .col -->

            <div class="col-md-5">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>I love this website.</p>
                    <footer class="blockquote-footer">Albert English</footer>
                </blockquote>
            </div><!-- .col -->

            <div class="col-md-5">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>Everything we vote can be found in electriq.</p>
                    <footer class="blockquote-footer">Mozqito DevOps Network</footer>
                </blockquote>
            </div><!-- .col -->

            <div class="col-md-5">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>Amazing voting! Fake news don't even exist.</p>
                    <footer class="blockquote-footer">Isaac New York</footer>
                </blockquote>
            </div><!-- .col -->

            <div class="col-md-5">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>Awesome!!!</p>
                    <footer class="blockquote-footer">Nicola Tester</footer>
                </blockquote>
            </div><!-- .col -->

            <div class="col-md-5">
                <blockquote class="blockquote p-3 font-italic bg-light">
                    <p>Like others said: "This website is the best!"</p>
                    <footer class="blockquote-footer">Ada Lovely</footer>
                </blockquote>
            </div>
        </div>
    </footer>
</section>