@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .full-height-container {
        height: 80vh !important;
    }
</style>

<div class="container-fluid full-height-container">
    <div class="row h-100">
        <div class="col-md-6">
            <!-- Left part for the quote -->
            <div class="d-flex justify-content-center align-items-center h-100">
                <blockquote>
                    <h2>elictriq</h2>
                    <footer>Enpower Your Voice, Energize Your Vote <strong class="fst-italic">electriq</strong></footer>
                </blockquote>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <!-- Right part for the image -->
            <img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" class="img-fluid" alt="Image">
        </div>
    </div>
</div>