@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
    <head>
    <div id="__enzuzo-root"></div>
    <script id="__enzuzo-root-script" src="https://app.enzuzo.com/scripts/privacy/08b76162-e867-11ee-80c3-eb106204d5dd"></script>
    </head>
</html>