@page
@model PRN221_VotingSystem.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Password Reset";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="login-container">
    <h1>@ViewData["Title"]</h1>
    <form method="post" id="forgotPasswordForm">
        <div>
           
            <input type="email" id="email" name="email" asp-for="Email" placeholder="Enter your email" />
            <span asp-validation-for="Email"></span>
        </div>
        <button type="submit">Send OTP</button>
        @if (TempData["ErrorMessage"] != null)
        {
            <div>@TempData["ErrorMessage"]</div>
        }
    </form>
</div>
