@page "{email}"
@model PRN221_VotingSystem.Pages.NewPasswordModel
@{
    ViewData["Title"] = "Set New Password";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="login-container">
    <h1>@ViewData["Title"]</h1>
    <form method="post" id="newPasswordForm">
        <div>
            <input type="password" id="password" name="password" asp-for="Password" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <input type="password" id="confirmPassword" name="confirmPassword" asp-for="ConfirmPassword" placeholder="Confirm password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit">Set New Password</button>
        @if (TempData["ErrorMessage"] != null)
        {
            <div>@TempData["ErrorMessage"]</div>
        }
    </form>
</div>
